body {
	font-size: 16px;
	color: #000000;
	background-color: #670303;
	font-family: Helvetica, sans-serif;
}

/* HEADER */
#header-nav {
	background-color: #C2B6B6;
	border-radius: 0;
	border-bottom: 2px solid #856F6F;
}

h1 {
	color: #670303;
	text-shadow: 2px 2px #484040;
	font-size: 1.7em;
	font-family: Georgia, serif;
	font-weight: bold;
	margin: 0;
}

.navbar-default .navbar-nav>li>a {
	color: #670303;
}

hr {
	margin: 0 auto;
	width: 50%;
}

.navbar-default .navbar-toggle {
    border-color: #670303;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #670303;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 5px;
}

h2 {
	color: #856F6F;
	text-shadow: 1px 1px #fff;
	font-size: 1.5em;
	margin-bottom: 25px;
}

section {
	background-color: rgba(10, 9, 9, 0.3);
	color: #fff;
	margin: 5px;
	height: 700px;
	position: relative;
}	

h4 {
	text-align: center;
	padding-bottom: 25px;
	padding-top: 10px;
}

.container {
	margin-right: 10px;
	margin-left: 10px;
	width: 100%;
}

.back {
	position: absolute;
	bottom: 10px;
	right: 10px;
}


/* Desktop */
@media (min-width: 992px) {
	
	.col-lg-4 {
		width: 32%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {

	.col-md-6 {
		width: 47.5%;
	}

	.col-md-6:nth-child(3) {
		width: 96%;
	}
}

/* MOBILE */
@media (max-width: 767px) {

	.col-sm-12 {
		width: 95%;
	}
}